body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(158, 160, 161);
    display: flex;
    justify-content: center;
        align-items:   start ;
        height: 100vh;
        margin: 0;
}
form {
    background: #fcf8f8;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    width: 800px;
}
h1 {
color: rgb(93, 93, 235);
text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}
.large-image {
    width: 100%;
    height: auto;
}
h2{
    color: rgb(93, 93, 235);
    margin-top: 2vh;
    margin-bottom: 2vh;
}
h2 .content {
    margin-top: 30vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px;
}
p{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
div p.pa1{
    padding: 0 60px; 
    font-size: 10px;
}
.imagen {
    display: flex;
    align-items: center;
    margin: 100px 0;
    padding: 0px;
}
.imagen {
    margin-right: 20px;
    max-width: 30%;
    height: auto;
    flex-shrink: 0;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
.image-text p {
    flex-grow: 0;
}

.image-text.reverse {
   display: flex;
    align-items: center;
}
.image-text.reverse img {
    margin-right: 20px;
    margin-left: 40px;
}